body{
    margin:0;
    font-family: 'Roboto', 'Spoqa Han Sans Neo', 'sans-serif' !important;
    font-weight: 400;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header.MuiPaper-root{
    background: #3700b3;
    color: #fff;
    &.noColor{
        background: transparent;
        //box-shadow: none;
    }
    .MuiToolbar-root{
        justify-content: space-between;
        align-items: center;
    }
    a{
        color: #fff;
        text-decoration: none;
        h1{
            font-size: 1.25rem;
        }
    }
    button{
        color: #fff;
        svg{
            filter:invert(100%);
            -webkit-filter:invert(100%);
        }
        &.prevPage{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            svg{
                width: 1.5rem;
                height: 1.5rem;
                filter: invert(0%);
                -webkit-filter: invert(0%);
            }   
        }
    }
}

.container{
    width: 75%;
    margin: 64px auto 0 auto;
    padding: 2rem 5rem;
    .compArea{
        padding: 1rem 0;
    }
}

footer.MuiBox-root{
    text-align: center;
}