@import './mixin';

.mainPage{
    margin: 48px auto 0 auto;
    padding: 0 2rem;
    .mediaTypeTab{
        padding: 1.5rem 0;
    }
    .featuredArea{
        width: 100%;
        height: 500px;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        display:flex;
        align-items: center;
        .dimArea{
            position:absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(252,252,252,0) 1%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,252,252,0) 1%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(252,252,252,0) 1%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        }
        .infoArea{
            position: relative;
            text-shadow: 2px 2px 3px rgb(0 0 0 / 50%); 
            width: 50%;
            padding: 2rem;
            color: #fff;
            h2{
                font-size: 1.75rem;
                margin:0;
            }
            p{
                margin-top: 0;
                margin-bottom: 1.5rem;
                &.subTitle{
                    font-size: 1.25rem;
                    color: rgba(255,255,255,0.75);
                    font-weight: 700;
                }
            }
            .buttonArea{
                button{
                    margin-right: 1.5rem;
                }
                a{
                    text-decoration: none;
                    color: rgba(255,255,255,0.9);
                    border-color: rgba(255,255,255,0.5);
                    background-color: rgba(255, 255, 255, 0.25);
                    text-shadow: none;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.4);
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }

    .popularArea{
        // width: 75%;
        // margin: 0 auto;
        // padding: 2rem;
    }
}